/* font-family: 'Roboto', sans-serif;

COLORS
teal - #0fb9b1;
frosted white - rgba(225, 225, 225, .9);
grey - #95a5a6;
red - #ee5253

*/
body {
  margin: 0;
  background-image: url("./assets/burger-friends.jpg");
  background-size: cover;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0px;
  padding-right: 20px;
  background: #0fb9b1;
  height: 8%;
}

h2 {
  font-family: Roboto, sans-serif;
  display: flex;
  justify-content: flex-start;
  align-content: center;
  padding: 25px;
  margin: 0;
}

h3 {
  font: Roboto, sans serif
}

h1 {
  font-family: Roboto, sans-serif;
  display: flex;
  align-items: center;
  padding: 25px;
  margin: 0;
}

.button {
  display: flex;
  justify-content: center;
  height: 30px;
  width: 120px;
  border-radius: 20%;
  border-width: thin;
  border-style: none;
  font: Roboto, sans serif;
}

input {
  /* display: flex;
  justify-content: flex-start; */
  margin: 0px;
  padding-left: 2%;
}

svg {
  height: 30%;
  width: 30%;
}

/* .main-section {
  height: 100%;
  width: 100%;
} */

.boxes {
  display: flex;
  flex-direction: row;
  /* flex-wrap: wrap; */
  justify-content: space-around;
  align-content: space-between;
  /* margin: 12px; */
}

.box-1 {
  display: flex;
  flex-direction: column;
  background-color: rgba(225, 225, 225, .9);
  border: 0;
  margin-top: 5%;
  margin-left: 10px;
  width: 500px;
  height: 400px;
}
.box-2 {
  font: roboto, sans serif;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(225, 225, 225, .9);
  border: 0;
  padding: 0px;
  margin-top: 5%;
  margin-right: 20px;
  width: 500px;
  height: 400px;
}

.box-button {
  font: Roboto, sans serif;
  height: 30px;
  width: 150px;
  display: flex;
  justify-content: center;
  align-self: center;
  text-align: center;
  margin-left: 40px;
  border-radius: 4px;
  border-style: none;
  padding: 8px;
  background-color: #0fb9b1;
}

.radio {
  padding: 5px;
  margin-right: 5px;
}

li {
  list-style: none;
  padding: 2%;
  font-family: Roboto, sans-serif;
}

/* .box-1 {
  height: 50%;
  width: 30%;
  border: 1px;
  border-style: solid;
  color: frosted white - rgba(225, 225, 225, .9);
  opacity: 4%;
}

.box-2 {
  height: 50%;
  width: 30%;
  border: 1px;
  border-style: solid;
  color: frosted white - rgba(225, 225, 225, .9);
  opacity: 4%;
} */ */
